main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    gap: 24px;
}

button {
    width: 30%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 10% auto;
}

.row {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    margin-top: 48px;
}

.cell {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
}

.cell:last-child {
    margin-bottom: 24px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    max-width: 180px;
    height: 180px;
}

.active {
    background-color: red !important;
}